@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide the scrollbar but keep scrolling functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F1F1F1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9; 
  border-radius: 10px; 
  border: 3px solid #D9D9D9; 
}